/app/config/parameters.yml
/web/bundles/*
/web/ccs/*
/web/js/*
/app/bootstrap*
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/*

*~
.DS_Store
.project
.buildpath
.settings/*
*.cache
*.sqlite
/sftp-config.json