@import "elements.less";

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda'), local('Coda-Regular'), url(http://themes.googleusercontent.com/static/fonts/coda/v7/4Jb-FkcfQYfqLngSPKT1r_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@dark: #333;
@orange: rgba(225, 112, 75, 0.95);
@blue: #0E90D2;
@green: #468847;
@error: #B94A48;

body {
	font-family: 'Coda', arial;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

nav.navbar  {
	.btn {
		margin-top: 15px;
	}
	.brand {
		line-height: 38px;
		font-size: 20px;
		margin-left: 0px;
		border-bottom: 2px solid @orange;
		font-weight: normal;
		color: #fff;
	}
	.navbar-inner {
		min-height: 60px;
		.opacity (0.85);
		background: black;
		li {
			line-height: 40px;
			text-transform: uppercase;
		}
		.active > a {
				.inner-shadow (0,0,0,0);
				background: transparent;
				color: @blue;
			&:hover {
				.inner-shadow (0,0,0,0);
				background: transparent;
				color: @orange;
			}
		}
		a:hover {
			color: @orange;
		}
	}
}

section {
	padding-top: 60px;
	margin-bottom: 80px;
}

#home {
	min-height: 680px;
	height: 1500px;
	background: url(/bundles/appfrontend/images/basel.jpg) no-repeat center -200px;
	position: relative;
	.page-header {
		border-color: @orange;
		position: absolute;
		background-color: transparent;
		color: white;
		bottom: 20px;
		.opacity(0);
	}
}

.no-js #home {
	height: 700px;
	.page-header {
		.opacity(1);
	}
}

 #about {
 	.well {
		background-color: @orange;
		color: white;
		margin-top:20px;
	}
	h2 {
		background: @dark;
		text-transform: uppercase;
		text-align: center;
		margin: -30px auto 0;
		line-height: 40px;
		width: 200px;
		.rounded(4px);
	}
}

#toolbelt {
	ul {
		margin-top: 50px;
	}
	li {
		span {
			background-image: url(/bundles/appfrontend/images/tools.png);
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto;
			height: 70px;
			width: 70px;
			.rounded(35px);
			.inner-shadow();
			cursor: pointer;
			.opacity(0.3);
			.transition(0.5s, opacity);
			&:hover {
				.opacity(1);
			}
		}
	}
}

.sf2 {
	background-position: 0 -70px;
	&:hover {
		background-position: 0 0;
	}
}

.sencha {
	background-position: -70px -70px;
	&:hover {
		background-position: -70px 0;
	}
}

.jquery {
	background-position: -140px -70px;
	&:hover {
		background-position: -140px 0;
	}
}

.less {
	background-position: -210px -70px;
	&:hover {
		background-position: -210px 0;
	}
}

.html5bp {
	background-position: -280px -70px;
	&:hover {
		background-position: -280px 0;
	}
}

.bootstrap {
	background-position: -350px -70px;
	&:hover {
		background-position: -350px 0;
	}
}

.webkit {
	background-position: -420px -70px;
	&:hover {
		background-position: -420px 0;
	}
}

.photoshop {
	background-position: -490px -70px;
	&:hover {
		background-position: -490px 0;
	}
}

.macosx {
	background-position: -560px -70px;
	&:hover {
		background-position: -560px 0;
	}
}

.coffee {
	background-position: -630px -70px;
	&:hover {
		background-position: -630px 0;
	}
}

.dumbbells {
	background-position: -700px -70px;
	&:hover {
		background-position: -700px 0;
	}
}

.ktm {
	background-position: -770px -70px;
	&:hover {
		background-position: -770px 0;
	}
}

#portfolio {
	h2 {
		color: white;
	}
	.well {
		background-color: @dark;
	}
	.caption {
		background-color: #fff;
	}
	.img {
		overflow: hidden;
	}
	img {
		.zoom(1.1, 0.5s);
	}
}

#contact {
	form {
		padding-top: 12px;
	}
	.input input,
	textarea {
		padding: 4px 0;
		text-indent: 6px;
		width: 100%;
	}
	ul {
		list-style: none;
		margin: 0;
		padding-bottom: 20px;
		color: @error;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.nav-collapse {
		width: 100%;
		.nav > li {
			width: 50%;
			float: left;
			> a {
				line-height: normal;
			}
		}
	}
	#home {
		min-height: 200px;
		padding-top: 0px;
		margin-top: 0px;
	}
}

@media (max-width: 767px), {
	.nav-collapse {
		width: 100%;
		.nav > li {
			width: 50%;
			float: left;
			> a {
				line-height: normal;
			}
		}
	}
	section {
		margin-bottom: 0px;
		padding-top: 0px;
	}
	#home {
		min-height: 150px;
		height: auto !important;
		background: transparent;
		padding-top: 60px;
		.page-header {
			border-color: @orange;
			position: absolute;
			background-color: transparent;
			color: @dark;
			bottom: 20px;
			.opacity(0);
		}
	}
	#toolbelt {
		.span1 {
			width: 70px;
			margin-left: 5px;
			float: left;
		}
	}
	#portfolio {
		.img {
			display: none;
		}
	}
}
