<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Tiziano Rullo{% endblock %}</title>

        <meta name="description" content="Portfolio of Front-End Developer and Website Designer, Tiziano Rullo">
        <meta name="keywords" content="website design, webdesign, front end developer, frontend developer, website, development, tiziano rullo">
        <meta name="viewport" content="width=device-width">

        {% stylesheets filter='less,cssrewrite,?yui_css' output='css/bootstrap.css'
           '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
           '@MopaBootstrapBundle/Resources/bootstrap/less/responsive.less'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
        
        {% block stylesheets %}{% endblock %}

        {% javascripts output='js/modernizr.js' 
            '@MopaBootstrapBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block head_javascripts %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target=".navbar">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% block body %}{% endblock %}

        {% javascripts output='js/mopa.js' 
            '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            '@MopaBootstrapBundle/Resources/public/js/html5bp_plugins.js'
        %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

        {% block javascripts %}{% endblock %}

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
    </body>
</html>
