<div class="container well">
    <h2>About</h2>
    <div class="row">
        <div class="span4">
            <h3>Me</h3>
            <p>My name is Tiziano Rullo, I' m 28 and based in Allschwil near Basel. I' m an expert designer, front-end and back-end developer. I design and develop functional, creative and usability-oriented websites and applications, by employing the latest web standards. I'm passionate about simplicity, aesthetic beauty and improving the lives of others through great products.</p>
        </div>
        <div class="span4">
            <h3>Education</h3>
            <p>Three years of diploma high-school in Basel. Four years apprenticeship at Novartis as a computer scientist. Graduation as computer scientist, generalistic orientation with Swiss federal certificate and vocational baccalaureate.</p>
        </div>
        <div class="span4">
            <h3>Career</h3>
            <p>Since graduating I've been working for the Wirtschftskammer Baselland in Liestal as a web developer. During several years I've worked with many different people on various projects and from a variety of perspectives. As a result I gained some unique and strong experience in many aspects of the web design, web development and project management fields. </p>
       </div>
    </div>            
</div>