<div class="container">
    <div class="row">
        <div class="page-header span6">
            <h4>Hi. My name is Tiziano and I'm a web designer and developer.</h4>
            <h1>I like making cool ideas happen.</h1>
        </div>
    </div>
</div>