<div class="container well">
    <h2>Portfolio</h2>
    <div class="row">
        <ul class="unstyled">
            <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/kmuorg.png" alt="Kmu.org">
                    <figcaption>
                        <h3>Kmu.org</h3>
                        <div>
                            <h4>Roles:</h4>
                            Designer, Front-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Drupal 7, Bootstrap, jQuery
                        </div>
                        <a href="http://kmu.org" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
            </li>
            <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/epdb.png" alt="Energiepaket Datenbank">
                    <figcaption>
                        <h3>Energiepaket Database</h3>
                        <div>
                            <h4>Roles:</h4>
                            Head of Projekt, Designer, Front-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            ExtJs, Symfony 2
                        </div>
                        <a data-app="epdb" href="/bundles/appfrontend/images/portfolio/epdb/1.jpg" target="_blank">view screenshots ></a>
                    </figcaption>
                </figure>
            </li>
            <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/bltour.png" alt="Baselland Tourismus">
                    <figcaption>
                        <h3>Baselland Tourismus</h3>
                        <div>
                            <h4>Roles:</h4>
                            Front-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Symfony 1.4
                        </div>
                        <a href="http://baselland-tourismus.ch" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
            </li>
            <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/pgua.png" alt="PGUA Issue Management">
                    <figcaption>
                        <h3>PGUA Issue Management</h3>
                        <div>
                            <h4>Roles:</h4>
                            Front-End Developer, Designer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Symfony 2, Compass, Lucene
                        </div>
                        <a data-app="pgua" href="/bundles/appfrontend/images/portfolio/pgua/1.jpg" target="_blank">view screenshots ></a>
                    </figcaption>
                </figure>
            </li>
            <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/epbl.png" alt="Baselbieter Energiepaket">
                    <figcaption>
                        <h3>Baselbieter Energiepaket</h3>
                        <div>
                            <h4>Roles:</h4>
                            Front-End Developer, Back-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Proprietary Framework, Zend Framework
                        </div>
                        <a href="http://energiepaket-bl.ch" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
          </li>
          <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/lbv.png" alt="Terminplaner Lehrbetriebsverbund">
                    <figcaption>
                        <h3>Lehrbetriebsverbund Calendar</h3>
                        <div>
                            <h4>Roles:</h4>
                            Designer, Front-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            ExtJs, Symfony 2
                        </div>
                        <a data-app="lbv" href="/bundles/appfrontend/images/portfolio/lbv/1.jpg" target="_blank">view screenshots ></a>
                    </figcaption>
                </figure>
            </li>
          <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/bausparen.png" alt="Ja zum Bausparen">
                    <figcaption>
                        <h3>Ja zum Bausparen</h3>
                        <div>
                            <h4>Roles:</h4>
                            Designer, Front-End Developer, Back-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Symfony 2, Bootstrap
                        </div>
                        <a href="http://bausparen.ch" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
          </li>
          <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/cbaader.png" alt="Caspar Baader">
                    <figcaption>
                        <h3>Caspar Baader</h3>
                        <div>
                            <h4>Roles:</h4>
                            Designer, Front-End Developer, Back-End Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Proprietary Framework, Zend Framework
                        </div>
                        <a href="http://caspar-baader.ch" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
          </li>
          <li class="span4">
                <figure class="thumbnail">
                    <img src="/bundles/appfrontend/images/portfolio/mubl.png" alt="Metallunion BL">
                    <figcaption>
                        <h3>Metallunion Baselland</h3>
                        <div>
                            <h4>Roles:</h4>
                            Head of Projekt, Designer, Developer
                        </div>
                        <div>
                            <h4>Used Technolgies:</h4>
                            Proprietary Framework, Zend Framework, Bootstrap
                        </div>
                        <a href="http://mubl.ch" target="_blank">visit website ></a>
                    </figcaption>
                </figure>
          </li>
        </ul>
    </div>
</div>