{% set skills = [
    { 'name': 'HTML5', 'percent': '85'},
    { 'name': 'CSS3', 'percent': '90'}, 
    { 'name': 'Javascript', 'percent': '75'},
    { 'name': 'PHP', 'percent': '80'},
    { 'name': 'MySQL', 'percent':  '50'},
    { 'name': 'Photoshop', 'percent':  '70'},
    { 'name': 'Illustrator', 'percent':  '30'},
    { 'name': 'InDesign', 'percent':  '35'}
] %}
<div class="container">
    <h2>Skills</h2>
    <div class="row">
        <div class="span6">
            <p> I'm able to create aesthetically pleasing designs and I develop websites and applications using the latest web technologies, while ensuring consistency across platforms and browsers, including responsive web design for optimal viewing on mobile devices.
 I have the technical skills necessary and more importantly, the drive and ambition required to make every project a success.</p>
        </div>
        <div class="span6">
            {% for skill in skills %}
            <div class="row">
                <div class="span1">{{ skill.name }}</div>
                <div class="span5">
                    <div class="progress">
                        <div class="bar" data-width="{{ skill.percent }}" style="width: {{ skill.percent }}%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>