<div class="container">
    <h2>Toolbelt</h2>
    <p>To build awesome webapps these days you need modern tools, frameworks and libraries to speed up the development process, enhance performance and ease the debugging pain. In short, you need a kick-ass toolbelt.</p>
    <div class="row">
        <ul class="unstyled">
            <li class="span1" data-original-title="Symfony 2" data-content="High performance PHP framework for web development"><span class="sf2"></span></li>
            <li class="span1" data-original-title="Sencha ExtJS" data-content="Leading JavaScript framework for rich web apps"><span class="sencha"></span></li>
            <li class="span1" data-original-title="jQuery" data-content="Fast, small, and feature-rich JavaScript library"><span class="jquery"></span></li>
            <li class="span1" data-original-title="LESS/SASS" data-content="Dynamic stylesheet languages"><span class="less"></span></li>
            <li class="span1" data-original-title="HTML5 Boilerplate" data-content="The web’s most popular front-end template"><span class="html5bp"></span></li>
            <li class="span1" data-original-title="Bootstrap" data-content="Powerful front-end framework for faster web development"><span class="bootstrap"></span></li>
            <li class="span1" data-original-title="Webkit Browser" data-content="Open source web browser engine"><span class="webkit"></span></li>
            <li class="span1" data-original-title="Git" data-content="Open source distributed version control system "><span class="git"></span></li>
            <li class="span1" data-original-title="Sublime Text" data-content="Sophisticated code editor with extraordinary features and amazing performance"><span class="sublime"></span></li>
            <li class="span1" data-original-title="Photoshop" data-content="The gold standard in professional image editing"><span class="photoshop"></span></li>
            <li class="span1" data-original-title="MacOSX" data-content="The world’s most advanced desktop operating system"><span class="macosx"></span></li>
            <li class="span1" data-original-title="Coffee" data-content="The coding fuel"><span class="coffee"></span></li>
        </ul>
    </div>
</div>