<div class="container">
    <h2>Toolbelt</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <div class="row">
        <ul class="unstyled">
            <li class="span1" data-original-title="Symfony 2" data-content=""><span class="sf2"></span></li>
            <li class="span1" data-original-title="Sencha ExtJS" data-content=""><span class="sencha"></span></li>
            <li class="span1" data-original-title="jQuery" data-content=""><span class="jquery"></span></li>
            <li class="span1" data-original-title="LESS/SASS" data-content=""><span class="less"></span></li>
            <li class="span1" data-original-title="HTML5 Boilerplate" data-content=""><span class="html5bp"></span></li>
            <li class="span1" data-original-title="Bootstrap" data-content=""><span class="bootstrap"></span></li>
            <li class="span1" data-original-title="Webkit Browser" data-content=""><span class="webkit"></span></li>
            <li class="span1" data-original-title="Photoshop" data-content=""><span class="photoshop"></span></li>
            <li class="span1" data-original-title="MacOSX" data-content=""><span class="macosx"></span></li>
            <li class="span1" data-original-title="Coffee" data-content=""><span class="coffee"></span></li>
            <li class="span1" data-original-title="Dumbbells" data-content=""><span class="dumbbells"></span></li>
            <li class="span1" data-original-title="KTM" data-content=""><span class="ktm"></span></li>
        </ul>
    </div>
</div>