/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda'), local('Coda-Regular'), url(http://themes.googleusercontent.com/static/fonts/coda/v7/4Jb-FkcfQYfqLngSPKT1r_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
body {
  font-family: 'Coda', arial;
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: : block;
}
nav.navbar .btn {
  margin-top: 15px;
}
nav.navbar .brand {
  line-height: 38px;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 2px solid rgba(225, 112, 75, 0.95);
}
nav.navbar .brand a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
nav.navbar .navbar-inner {
  min-height: 60px;
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  -webkit-opacity: 0.85;
  opacity: 0.85;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  filter: alpha(opacity=85);
  background: black;
}
nav.navbar .navbar-inner li {
  line-height: 40px;
  text-transform: uppercase;
}
nav.navbar .navbar-inner .active > a {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background: transparent;
  color: #0e90d2;
}
nav.navbar .navbar-inner .active > a:hover {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background: transparent;
  color: rgba(225, 112, 75, 0.95);
}
nav.navbar .navbar-inner a:hover {
  color: rgba(225, 112, 75, 0.95);
}
section {
  padding-top: 60px;
  margin-bottom: 80px;
}
#home {
  min-height: 680px;
  height: 1500px;
  background: url(/bundles/appfrontend/images/basel.jpg) no-repeat center -200px;
  position: relative;
}
#home .page-header {
  border-color: rgba(225, 112, 75, 0.95);
  position: absolute;
  background-color: transparent;
  color: white;
  bottom: 20px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#home .page-header.trigger {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.no-js #home {
  height: 700px;
}
.no-js #home .page-header {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#about .well {
  background-color: rgba(225, 112, 75, 0.95);
  color: white;
  margin-top: 20px;
}
#about h2 {
  background: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: -30px auto 0;
  line-height: 40px;
  width: 200px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  top: 30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.no-js #about h2,
#about .trigger {
  top: 0;
  opacity: 1;
}
#toolbelt ul {
  margin-top: 50px;
  margin-left: -3000px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#toolbelt li {
  position: relative;
}
#toolbelt li span {
  background-image: url(/bundles/appfrontend/images/tools.png);
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#toolbelt li span:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -ms-transform: scale(1.3);
}
#toolbelt li span:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#toolbelt li:hover {
  z-index: 2;
}
.no-js #toolbelt ul,
#toolbelt .trigger {
  margin-left: 0;
}
.popover-content {
  line-height: 1.2;
  font-size: 14px;
}
.sf2 {
  background-position: 0 -70px;
}
.sf2:hover {
  background-position: 0 0;
}
.sencha {
  background-position: -70px -70px;
}
.sencha:hover {
  background-position: -70px 0;
}
.jquery {
  background-position: -140px -70px;
}
.jquery:hover {
  background-position: -140px 0;
}
.less {
  background-position: -210px -70px;
}
.less:hover {
  background-position: -210px 0;
}
.html5bp {
  background-position: -280px -70px;
}
.html5bp:hover {
  background-position: -280px 0;
}
.bootstrap {
  background-position: -350px -70px;
}
.bootstrap:hover {
  background-position: -350px 0;
}
.webkit {
  background-position: -420px -70px;
}
.webkit:hover {
  background-position: -420px 0;
}
.sublime {
  background-position: -490px -70px;
}
.sublime:hover {
  background-position: -490px 0;
}
.git {
  background-position: -560px -70px;
}
.git:hover {
  background-position: -560px 0;
}
.photoshop {
  background-position: -630px -70px;
}
.photoshop:hover {
  background-position: -630px 0;
}
.macosx {
  background-position: -700px -70px;
}
.macosx:hover {
  background-position: -700px 0;
}
.coffee {
  background-position: -770px -70px;
}
.coffee:hover {
  background-position: -770px 0;
}
#portfolio h2 {
  color: white;
}
#portfolio .well {
  background-color: #333333;
}
#portfolio figure {
  padding: 0;
  border: 4px solid #333333;
  -webkit-box-shadow: 0 0 0 1px #f5f5f5;
  -moz-box-shadow: 0 0 0 1px #f5f5f5;
  box-shadow: 0 0 0 1px #f5f5f5;
  height: 250px;
}
#portfolio img {
  height: 250px;
}
#portfolio figcaption {
  font-size: 90%;
  height: 240px;
  padding: 10px;
  display: block;
  color: #555555;
  background-color: #f5f5f5;
}
#portfolio figcaption h4,
#portfolio figcaption a {
  margin-top: 15px;
}
#portfolio figcaption a {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
#portfolio figcaption h3 {
  line-height: 1;
}
.csstransforms3d #portfolio li {
  position: relative;
  height: 250px;
  z-index: 1;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-bottom: 30px;
}
.csstransforms3d #portfolio figure {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.csstransforms3d #portfolio li:hover figure {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.csstransforms3d #portfolio img,
.csstransforms3d #portfolio figcaption {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.csstransforms3d #portfolio figcaption {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#contact form {
  padding-top: 12px;
}
#contact .input input,
#contact textarea {
  padding: 4px 0;
  text-indent: 6px;
  width: 100%;
}
#contact ul {
  list-style: none;
  margin: 0;
  padding-bottom: 20px;
  color: #b94a48;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .nav-collapse {
    width: 100%;
  }
  .nav-collapse .nav > li {
    width: 50%;
    float: left;
  }
  .nav-collapse .nav > li > a {
    line-height: normal;
    text-align: center;
  }
  #home {
    min-height: 200px;
    padding-top: 0px;
    margin-top: 0px;
  }
  #portfolio .span4 {
    width: 352px;
  }
}
/* Phone */
@media (max-width: 767px) {
  .nav-collapse {
    width: 100%;
  }
  .nav-collapse .nav > li {
    width: 50%;
    float: left;
  }
  .nav-collapse .nav > li > a {
    line-height: normal;
    text-align: center;
  }
  section {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  #home {
    min-height: 150px;
    height: auto !important;
    background: transparent;
    padding-top: 60px;
  }
  #home .page-header {
    border-color: rgba(225, 112, 75, 0.95);
    position: absolute;
    background-color: transparent;
    color: #333333;
    bottom: 20px;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  #toolbelt .span1 {
    width: 70px;
    margin-left: 5px;
    float: left;
  }
  #portfolio h2 {
    text-align: center;
    margin-top: 0;
  }
  #portfolio .span4 {
    width: 360px;
    margin: 0 auto;
  }
}
